priority -40

snippet divid "div with id only" b
<div id="${1:id}">
$0
</div>
endsnippet

snippet doc "doctype" b
<!DOCTYPE html>
endsnippet

snippet script "import js file" b
<script src="${1:js file path}"></script>
endsnippet

snippet css "import css file" b
<link rel="stylesheet" href="${1:css file path}">
endsnippet

snippet lia "li with a" w
<li><a href="${1:#}">${2:content}</a></li>
endsnippet
